/* I use this on containers that hold blog posts, etc. It keeps content from overflowing the page */
.postcontain {
  word-break: break-word;
}
/* I use to keep description text uniform */
.keynote-description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}